
.form-element{
    position: relative;
}

.toggle-password{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    top: -400px;
    left: 40%;


}
.toggle-password.active i.fa-eye{
    display: none;
}

.toggle-password.active i.fa-eye-slash{
    display: inline;
}

.toggle-password.active i.fa-eye-slash{
    display: none;
}

.password-policies{
    position: relative;
    top: 0px;
    left: 50%;
    transform: translatex(-50%);
    width:90%;
    padding: 10%;
    background-color: lightgrey;
    border-radius: 5px;
    overflow: hidden;
    transition: height 300ms ease-in-out,
                opacity 300ms ease-in-out;
}

.password-policies.active{
    opacity:1;
    padding: 10px;
    height: 180px;
}

.password-policies > div{
    margin: 15px 10px;
    font-weight: 600;
    color: #888;
}

.password-policies > div.active{
    color: #111;
}